<?php

/**
 * Drupal VM drush aliases.
 *
 * {{ ansible_managed }}
 */

{% macro alias(host, root) -%}
{%- if root not in _devtool_docroots %}
$aliases['self'] = array(
  'uri' => '{{ vagrant_hostname }}',
  'root' => '{{ drupal_core_path }}',
  'remote-host' => '{{ vagrant_hostname }}',
  'remote-user' => '{{ vagrant_user }}',
  'remote-db-user' => '{{ drupal_db_user }}',
  'remote-db-password' => '{{ drupal_db_password }}',
  'remote-db-name' => '{{ drupal_db_name }}',
  'remote-db-host' => '{{ drupal_db_host }}',
  'ssh-options' => 'ssh-options' => '-o "SendEnv PHP_IDE_CONFIG PHP_OPTIONS XDEBUG_CONFIG" -o PasswordAuthentication=no -i "' . (getenv('VAGRANT_HOME') ?: drush_server_home() . '/.vagrant.d') . '/insecure_private_key"',
  'path-aliases' => array(
    '%drush-script' => '{{ drush_path }}',
  ),
);

$aliases['local'] = array(
  'uri' => '{{ vagrant_hostname }}',
  'root' => '{{ drupal_core_path }}',
  'remote-host' => '{{ vagrant_hostname }}',
  'remote-user' => '{{ vagrant_user }}',
  'remote-db-user' => '{{ drupal_db_user }}',
  'remote-db-password' => '{{ drupal_db_password }}',
  'remote-db-name' => '{{ drupal_db_name }}',
  'remote-db-host' => '{{ drupal_db_host }}',
  'ssh-options' => 'ssh-options' => '-o "SendEnv PHP_IDE_CONFIG PHP_OPTIONS XDEBUG_CONFIG" -o PasswordAuthentication=no -i "' . (getenv('VAGRANT_HOME') ?: drush_server_home() . '/.vagrant.d') . '/insecure_private_key"',
  'path-aliases' => array(
    '%drush-script' => '{{ drush_path }}',
  ),
);

$aliases['{{ dev_remote_env }}'] = array(
  'uri' => '{{ dev_remote_uri }}',
  'root' => '{{ remote_path }}',
  'remote-host' => '{{ dev_remote_host }}',
  'remote-user' => '{{ remote_user }}',
  'remote-db-user' => '{{ remote_db_user }}',
  'remote-db-password' => '{{ remote_db_password }}',
  'remote-db-name' => '{{ remote_db_name }}',
  'remote-db-host' => '{{ remote_db_host }}',
  'ssh-options' => '-o PasswordAuthentication=no {{ remote_ssh_options }}',
  'path-aliases' => array(
   '%drush-script' => '{{ drush_path }}',
  ),

$aliases['{{ prod_remote_env }}'] = array(
  'uri' => '{{ prod_remote_uri }}',
  'root' => '{{ remote_path }}',
  'remote-host' => '{{ prod_remote_host }}',
  'remote-user' => '{{ remote_user }}',
  'remote-db-user' => '{{ remote_db_user }}',
  'remote-db-password' => '{{ remote_db_password }}',
  'remote-db-name' => '{{ remote_db_name }}',
  'remote-db-host' => '{{ remote_db_host }}',
  'ssh-options' => '-o PasswordAuthentication=no {{ remote_ssh_options }}',
   'path-aliases' => array(
     '%drush-script' => '{{ drush_path }}',
   ),

{% endif -%}
{% endmacro -%}

{% block aliases -%}
{%- if drupalvm_webserver == 'apache' -%}
  {%- for vhost in apache_vhosts -%}
    {{ alias(vhost.servername, vhost.documentroot) }}
    {%- if vhost.serveralias is defined -%}
      {%- for serveralias in vhost.serveralias.split() -%}
        {{ alias(serveralias, vhost.documentroot) }}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- elif drupalvm_webserver == 'nginx' -%}
  {%- for host in nginx_vhosts -%}
    {%- for server_name in host.server_name.split() -%}
      {{ alias(server_name, host.root) }}
    {%- endfor -%}
  {%- endfor -%}
{%- endif -%}
{%- endblock %}
