# {{ ansible_managed }}
{% macro alias(env, host, root) -%}
{%- if root not in _devtool_docroots %}
{%- if root not in _remote_docroots %}
{%- if root in _old_docroots %}
old{{ vagrant_machine_name }}.{{ env }}:
   host: '{{ host }}'
   options: {   }
   root: '{{ root }}'
   uri: '{{ host }}'
   user: '{{ vagrant_user }}'
   remote-db-user: '{{ drupal_db_user }}'
   remote-db-password: '{{ drupal_db_password }}'
   remote-db-name: '{{ drupal_db_name_old }}'
   remote-db-host: '{{ drupal_db_host }}'
   ssh:
      options: '-o "SendEnv PHP_IDE_CONFIG PHP_OPTIONS XDEBUG_CONFIG" -o PasswordAuthentication=no -i "${env.home}/.vagrant.d/insecure_private_key"'
{% endif -%}
{%- if root not in _old_docroots %}
{{ vagrant_machine_name }}.{{ env }}:
   host: '{{ host }}'
   options: {   }
   root: '{{ root }}'
   uri: '{{ host }}'
   user: '{{ vagrant_user }}'
   remote-db-user: '{{ drupal_db_user }}'
   remote-db-password: '{{ drupal_db_password }}'
   remote-db-name: '{{ drupal_db_name }}'
   remote-db-host: '{{ drupal_db_host }}'
   ssh:
      options: '-o "SendEnv PHP_IDE_CONFIG PHP_OPTIONS XDEBUG_CONFIG" -o PasswordAuthentication=no -i "${env.home}/.vagrant.d/insecure_private_key"'
{% endif -%}
{% endif -%}
{%- if root in _remote_docroots %}
{%- if root in _old_docroots %}
old{{ vagrant_machine_name }}.{{ env }}:
   host: '{{ host }}'
   options: {   }
   root: '{{ root }}'
   uri: '{{ host  }}'
   user: '{{ remote_user }}'
   remote-db-user: '{{ remote_db_user }}'
   remote-db-password: '{{ remote_db_password }}'
   remote-db-name: '{{ remote_db_name_old }}'
   remote-db-host: '{{ remote_db_host }}'
   ssh:
      options: '-o PasswordAuthentication=no  {{ remote_ssh_options }}'
{% endif -%}
{%- if root not in _old_docroots %}
{{ vagrant_machine_name }}.{{ env }}:
   host: '{{ host }}'
   options: {   }
   root: '{{ root }}'
   uri: '{{ host  }}'
   user: '{{ remote_user }}'
   remote-db-user: '{{ remote_db_user }}'
   remote-db-password: '{{ remote_db_password }}'
   remote-db-name: '{{ remote_db_name }}'
   remote-db-host: '{{ remote_db_host }}'
   ssh:
      options: '-o PasswordAuthentication=no  {{ remote_ssh_options }}'
{% endif -%}
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block aliases -%}
{%- if drupalvm_webserver == 'apache' -%}
   {%- for vhost in apache_vhosts -%}
      {{ alias(vhost.serverenv, vhost.servername, vhost.documentroot) }}
   {%- endfor -%}
{%- endif -%}
{%- endblock %}
